<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <% if (user) { %>
      <h3>Welcome <%= user.name %></h3>
      <div><%= user.bio %> </div>
    <% } %>

    <div class="wrapper">
    <div class="aside aside-1">

    <div>
      <form action="/users/<%=user.id%>/favlist" method="get">
        <button>Add Show to List</button>
      </form>
    </div>

    <div>
      <form action="/users/<%=user.id%>/" method="GET">
        <button>Profile</button>
      </form>
    </div>

    <div>
      <form action="/" method="get">
        <button>Homepage</button>
      </form>
    </div>

    <div>
      <form action="users/logout?_method=DELETE" method="post">
        <button>Logout</button>
      </form>
    </div>
  </div>

  <div class="container">

    <h2><span><%= user.name %>'s Favorite TV Shows</span></h2>
      <ul>
        <% var num = 0 %>
        <% user.shows.forEach(function(show) { %>
          <div>


            <div>
              Title: <%= show %>
            </div>
            <div>
            Genre:  <%= user.genre[num] %>
            </div>
            <img src="<%= user.poster[num] %>">
            <div>
              <form action="/users/<%=user.id%>/editshow" method="GET">
                <button>Edit Show</button>
              </form>
            </div>
          </div>
        <% num++ %>
        <% }); %>
</ul>
</div>
  <aside class="aside aside-2">something can go here</aside>

</div>
</body>
</html>
