<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>

    <% if (user) { %>
      <h3>Welcome <%= user.name %></h3>
      <div><%= user.bio %> </div>
      <% console.log(user)%>
    <% } %>


    <div>
      <form action="/users/<%=user.id%>/favlist" method="get">
        <button>Add Show to List</button>
      </div>
    </form>

    <div>
      <form action="users/logout?_method=DELETE" method="post">
        <button>Logout</button>
      </form>
    </div>
    <div>
      <form action="/" method="get">
        <button>Homepage</button>
      </form>
    </div>
    <div>
      <form action="/users/<%=user.id%>/" method="GET">
        <button>Profile</button>
      </form>
    </div>


    <h2>User :<span><%= user.name %></span></h2>
      <h3>Shows:</h3>
      <ul>
        <% console.log(user.showid) %>
        <% var num = 0 %>
        <% user.shows.forEach(function(show) { %>
          <li> <%= show %>

            <div>
              <%= user.genre[num] %>
            </div>
            <div>
              <%= user.seasons[num] %>
            </div>
            <div>
              <form action="/users/<%=user.id%>/editshow" method="GET">
                <button>Edit Show</button>
              </form>
            </div>
          </li>
        <% num++ %>
        <% }); %>
</ul>

</body>
</html>
