<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
</head>
<body>

<nav class="header">

    <% if (user) { %>
      <nav>Welcome <%= user.name %></nav>
      <nav><%= user.bio %> </nav>
    <% } %>
    <nav>

      <form action="/users/<%=user.id%>/favlist" method="get">
        <button>Add Show to List</button>
      </form>
      <form action="/users/<%=user.id%>/" method="GET">
        <button>Profile</button>
      </form>
      <form action="/" method="get">
        <button>Homepage</button>
      </form>
      <form action="users/logout?_method=DELETE" method="post">
        <button>Logout</button>
      </form>
    </nav>

</nav>


  <div class="wrapper">

  <div class="container">

    <h2><span><%= user.name %>'s Favorite TV Shows</span></h2>
      <ul>
        <% var num = 0 %>
        <% user.shows.forEach(function(show) { %>
          <div>


            <div>
              Title: <%= show %>
            </div>
            <div>
            Genre:  <%= user.genre[num] %>
            </div>
            <img src="<%= user.poster[num] %>">
            <div>
              <form action="/users/<%=user.id%>/editshow" method="GET">
                <button>Edit Show</button>
              </form>
            </div>
          </div>
        <% num++ %>
        <% }); %>
    </ul>
    </div>
    </div>

</body>
</html>
